.section-heading {
  text-align: center;
  padding: 0px 20px;
  background: transparent;

}

.section-title {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  color: #0a0a0a;
  letter-spacing: 0.4px;
  text-transform: none;
  margin: 0;
  /* remove default h2 spacing */
}

.desktop-title {
  font-size: 2.4rem;
  line-height: 1.3;
  display: block;
}

.mobile-title {
  display: none;
}

.section-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #555;
  max-width: 600px;
  margin: 8px auto 0;
  /* reduce gap between h2 & subtitle */
  line-height: 1.5;
}

/* Mobile responsive view */
@media (max-width: 768px) {
  .section-heading {
    text-align: left;
    padding: 0px 0px;


  }



  .desktop-title {
    display: none;
  }

  .mobile-title {
    display: block;
    font-size: 1.6rem;
    line-height: 1.3;
  }

  /* Hide subtitle on mobile */
  .section-subtitle {
    display: none;
  }
}